<div class="container">
    <h1>Lista de Compras</h1>

    <form #frm = "ngForm" class="add-item-form" (ngSubmit)="adicionarItem()">
        <input type="text" id="item" name="item" [(ngModel)]="item" placeholder="Digite o nome do item"/>
        <button type="submit">Adicionar</button>
    </form>

    <table>
        <thead>
            <tr>
                <th>#</th>
                <th>Item</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <!--uma diretiva que realiza um loop em uma lista
                de elementos, utilizando a variável elemento 
                para acessar cada item e rastreando a lista com
                base no id de cada elemento. track seerve para não
                se perder no loop -->
            @for(elemento of lista; track elemento.id){
                <tr>
                    <td>{{elemento.id}}</td>
                    <td>{{elemento.nome}}</td>
                    <td><input type="checkbox"></td>
                </tr>

            } @empty { <!-- o else do for, define o acontece se a lista for vazia-->

                <tr colspan="3">
                    Nenhum item adicionado.
                </tr>

            }

            <!-- 
            For com CommonModule
                <tr *ngFor="let elemento of lista">
                    <td>{{elemento.id}}</td>
                    <td>{{elemento.nome}}</td>
                    <td><input type="checkbox"></td>
                </tr> 
            -->

        </tbody>
    </table>
</div>
