<div class="container">
    <div class="form-box">
        <!-- #frm="ngForm" Define o form como controlado pelo Angular -->
        <!-- ngSubmit chama a funcao calcularResultado	ao submeter o form -->
        <form #frm="ngForm" (ngSubmit)="calcularResultado()">
            <h2>Calculadora</h2>
            <label for="numero1"> Número 1</label>
            <!-- Referencia a variavel numero1 do componete no html. [()] = Two way data binding. "ngModel" -->
            <!--
            Essa linha é um campo de entrada numérica em HTML que está vinculado a uma variável numero1 em um componente Angular,
            utilizando a diretiva ngModel para realizar a ligação de dados bidirecional (two-way binding). 
            Isso significa que o valor do campo de entrada é atualizado automaticamente quando a variável numero1 é alterada, 
            e vice-versa.
            -->
            <input type="number" name="numero1" id="numero1" [(ngModel)]="numero1" />


            <label for="numero2"> Número 2</label>
            <input type="number" name="numero2" id="numero2" [(ngModel)]="numero2" />


            <button type="submit">Somar</button>
        </form>

        <!-- Com CommonModule (não tem else) -->
        <div class="result-display" *ngIf="resultado">
            <p>Seu resultado está abaixo:</p>
        </div>

        @if(resultado){ <!-- É o mesmo que: resultado != 0 && resultado != null && resultado !+ undefined && resultado !== false -->
            <div class="result-display">
                <!-- {{}} Referencia a variavel resultado do componete no html -->
                <p>Resultado: <span id="result">{{ resultado }}</span></p>
            </div>
        } @else{
            <div class="result-display">
                <p>Sueu resultado aparecerá aqui.</p>
            </div>
        }
    </div>

</div>